.outerContainer{
  height: 100%;
  width: 100%;
}

.gridContainer{
  height: 100%;
}

.dock{
  height: 100%;
  background-color: whitesmoke;
}

.mainSection{
  height: 100%;
  width: 70%;
  background-color: white;
}

.calendarSection{
  background-color: white;
  height: 100%;
  width: calc(30% - 64px);
}

.avatar {
  height: 50px;
  width: 50px;
}

.MulAvatar {
  width: 50px;
}